@{
    Page.Title = "Zi Wang's home page";
}

<p>
    I'm a senior undergraduate student majoring in computer science and technology at Tsinghua University, Beijing. 
    My passion lies in the field of machine learning, artificial intelligence, 
    algorithms and applications for data mining, visualization and analysis of large scale data, and speech processing, 
    and I have already gained some experience working with <a href= "http://ml-thu.net/~jun">Prof. Jun Zhu</a> at Tsinghua.
    I also spent a wonderful summer at University of Southern California, Los Angeles where I worked with 
    <a href="http://http://www-bcf.usc.edu/~feisha/">Prof. Fei Sha</a>.
</p>