body {
	margin: 0;
	padding: 0;
	background: #697281;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	background-color:#ffedcc;
}
*
{
text-align:left;
margin:0px;
padding:0px;
}

#container
{

display:block;
width:800px;
clear:both;
margin:20px auto 0 auto;	
}

#leftcol
{
display:block;
width:226px;
float:left;	

}


.sidebar
{
display:block;
width:226px;
clear:both;	
margin-bottom:20px;
}

.sidebar_top
{
display:block;	
background-image:url(images/side_top.png);
background-repeat:no-repeat;
width:206px;
height:46px;
padding-right:20px;
}

.sidebar_top h2
{
padding:0px;
margin:0px;
line-height:46px;
text-align:right;
font-size:30px;
}

.sidebar_main
{
width:226px;
background-image:url(images/side_main.png);
background-repeat:repeat-y;
}

.sidebar_main ul
{
	list-style:none;
}

.sidebar_main ul li
{
padding-right:20px;
text-align:right;
font-size:16px;
color:#666;
}

a, a:visited
{
color:#666;
}

a:hover
{
color:#000;
text-decoration:none;
}

.sidebar_bottom
{
display:block;	
background-image:url(images/side_bottom.png);
background-repeat:no-repeat;
width:206px;
height:46px;
padding-right:20px;
}






#rightcol
{
display:block;
float:left;
width:562px;
padding-left:12px;
}




.mainbox
{
display:block;
width:562px;
}

.mainbox .mainbox_top
{
width:562px;
/*height:114px;*/
background-image:url(images/header.png);
background-repeat:no-repeat;
background-color:#FFF;
}

.mainbox .mainbox_top h1
{
	padding-top:10px;
	margin-left:10px;
	font-size:30px;
}

.mainbox .mainbox_top h2
{
float:right;
margin-right:40px;
font-size:22px;
color:#CCC;
}

.gray
{
color:#f3a7f3;
}


.mainbox .mainbox_main p
{
padding-top:7px;
padding-bottom:7px;

}

.mainbox .mainbox_main h2
{
	color:#333;
	font-size:28px;
}

.mainbox .mainbox_main h3
{
	color:#333;
	font-size:28px;
}

.mainbox .mainbox_main
{
background-color:#FFF;
padding:0px 10px 0px 10px;
}

.mainbox .mainbox_bottom
{
background-image:url(images/footer.png);
background-repeat:no-repeat;
height:114px;

}

.bottom_links
{
padding-top:70px;	
text-align:center;
padding-left:50px;	
font-size:15px;
}


#footer
{
margin-top:25px;
text-align:right;	
font-size:12px;
}


html, body {
text-align: center;
}
p {text-align: left;}