<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <h3 class="section-subheading text-muted">ziw 'at' mit.edu</h3>
                    <p> To family and friends who think computer science is about making websites and fixing your computer: yes, I am physically able to do these, but they are not intellectually challenging enough for me, as an AI major. Please consult the people who study networks and architecture on the 7th floor of Stata (JK!). </p>
                </div>
            </div>
        </div>
    </section>