<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publications">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                
                <div class="intro-heading text-left">
                <p><font size="5">Hi! My name is <strong>Zi WANG</strong>, and I am a first-year graduate student working in the <a href="http://lis.csail.mit.edu/new/">Learning and Intelligent Systems Group</a> at CSAIL, MIT. My research interest is in machine learning and its applications to robotics and other related areas such as vision and speech. Back in my undergrad, I worked on some interesting topics on machine learning such as deep learning and topic modeling supervised by <a href="http://www-bcf.usc.edu/~feisha/">Prof. Fei Sha</a> and <a href="http://bigml.cs.tsinghua.edu.cn/~jun/">Prof. Jun Zhu</a>.
                </font></p>
                </div>
                <a href="#about" class="page-scroll btn btn-xl">More about me</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

