<!-- Services Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading text-muted">Undergraduate work at Tsinghua University and University of Southern California</h3>
                </div>
            </div>
            <div class="row text-left">
                <ul>
    <li><strong>Zi Wang</strong>, Fei Sha. <em>Discriminative Non-Negative Matrix Factorization for Single-Channel Speech Separation. </em>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2014. [<a title="dnmf" href="http://zi-wang.com/pub/dnmf.pdf" target="_blank">pdf</a>][<a title="Discriminative Non-negative Matrix Factorization" href="http://zi-wang.com/dnmf" target="_blank">project page</a>][<a title="Poster at WiML" href="http://zi-wang.com/dnmf/wiml.pdf" target="_blank">poster</a> (at WiML13)][<a title="Poster at SURE" href="http://zi-wang.com/dnmf/usc_presentation.pdf" target="_blank">poster</a> (at SURE program)]</li>
    <li>Jianfei Chen, Jun Zhu, <strong>Zi Wang</strong>, Xun Zheng, and Bo Zhang. <em>Scalable Inference for Logistic-Normal Topic Models. </em> Advances in Neural Information Processing Systems (NIPS), Lake Tahoe, USA, 2013. (NIPS 2013) [<a title="scalable-ctm" href="http://zi-wang.com/gctm/scalable-ctm.pdf" target="_blank">pdf</a>] [<a title="gctm" href="http://zi-wang.com/gctm" target="_blank">project page</a>][<a title="Poster at NIPS" href="http://zi-wang.com/gctm/scalablectm_nips.pdf" target="_blank">poster</a> (at NIPS13)][<a title="Poster at MLA" href="http://zi-wang.com/gctm/scalablectm_mla.pdf" target="_blank">poster</a> (at MLA13)]</li>
</ul>
            </div>
        </div>
    </section>