.main {
   background-color: #FFFFFF !important;
   background-image:url('../images/bg_pattern_light.png') !important;
   color:#575746;
   text-shadow: none;
}
a {
	color:#8856a7;
}
a:hover {
	color:#000;
}
h2, h3, .job-title, .job-education-title, .error, .thanks  {
	color:#181818;
}

.main h1 {
	color:#181818;
}

#intro {
	color:#575746;
}

#bio ul li, .box, .filterable, .commentlist li, .commentlist li ul.children li, .side_widget    {
    border-color:#CCC;
}